{% extends 'bases/base.html' %}
{% load static %}

{% block title %} All blogs {% endblock title %}


{% block content %}

    <h1>All Blogs </h1>
    {% for blog in object_list %}
        <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
              {% for follower in blog.follower_set.all %}
                  {% if  user.username  ==  follower.user.username %}
                      <a href="#" class="btn btn-primary">UnFollow</a>
                  {% else %}
                      {% if user == blog.author %}
                          <p>This is My Post</p>
                            <a href="#" class="btn btn-primary">Follow</a>
                      {% else  %}
                            <a href="#" class="btn btn-primary">Follow</a>
                      {% endif %}
                  {% endif %}
              {% endfor %}

          </div>
        </div>
        </div>
        <br>
    {% endfor %}

{% endblock content %}