{% extends 'bases/base.html' %}
{% load static %}

{% block title %} Index Page {% endblock title %}


{% block content %}
    <br>
    <div class="container">
        <center><h1> Blog Details </h1></center>
        <h2>{{object.title|title}}:</h2>
    {% for post in object.posts.all %}
        <div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description|truncatechars:20 }}</p>
            <a href="#" class="btn btn-primary">Go to post</a>
          </div>
        </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock content %}




